.card-container {
  border-radius: 4px;
  overflow: hidden;
}

.card-container__header {
  padding: 7px 12px;
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-size: 14px;
}

.card-container__main {
  background-color: var(--neutral-background-color);
  color: var(--dark-text-color);
}

.card-container__empty {
  text-align: center;
  padding: 12px 16px;
}

.card-list-item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--dark-border-color);
}

.card-list-item__name {
  color: var(--dark-text-color);
  font-size: 14px;
  font-weight: 400;
}

.card-list-item__buttons {
  margin-left: auto;
}