.card-container {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}

.card-container__header {
  padding: 7px 12px;
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-size: 14px;
  user-select: none;
}

.card-container__main {
  background-color: var(--neutral-background-color);
  color: var(--dark-text-color);
  height: 100%;
}

.card-container__empty {
  text-align: center;
  padding: 12px 16px;
  user-select: none;
}

.card-list-item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 5px 10px;
  border-bottom: 1px solid var(--neutral-border-color);
  transition: 1s;
}

.card-list-item__task-link:last-child .card-list-item {
  border-bottom: none;
}

.card-list-item:hover {
  background: var(--light-background-color);
}

.card-list-item__icon {
  width: 0.7em;
  height: 0.7em;
  display: flex;
}

.card-list-item__name {
  color: var(--dark-text-color);
  font-size: 14px;
  font-weight: 400;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-list-item__buttons {
  margin-left: auto;
}

.card-container__add-container {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
}