.column {
    min-width: 300px;
    max-width: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}

.column__title-container {
    display: flex;
    padding: 8px 12px;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
}

.column__title {
    font-size: 14px;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column__main {
    padding: 8px 6px;
    background-color: var(--neutral-background-color);
    min-height: 50px;
    height: 100%;
}
