.registration-page {
    height: 100vh;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-background-color);
}

.registration-page__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-text-color);
    width: 100%;
}

.registration-page__main {
    background-color: var(--neutral-background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 8px;
    display: flex;
    padding: 10px 12px;
}

.registration-page__head, .registration-page__main {
    max-width: 800px;
}