.info-section {
    background: var(--neutral-background-color);
    width: 100%;
    height: fit-content;
    padding: 20px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    flex-basis: 150%;
}

.info-section__buttons {
    display: flex;
    justify-content: end;
    margin: 14px 0 10px;
}

.info-section__buttons .info-section__button {
    margin-left: 8px;
}
