.task-page {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
}

.task-page__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.task-page__main {
    background-color: var(--neutral-background-color);
    border: 1px solid var(--light-border-color);
    border-radius: 4px;
    flex: 1;
    display: flex;
    padding: 10px 12px;
}