.board-page {
    height: 100%;
}

.board-page__header-container {
    display: flex;
    padding: 12px 16px;
}

.board-page__title {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-text-color);
}

.board-page__main {
    padding: 12px 16px;
}
