.board-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.board-page__header-container {
    display: flex;
    padding: 12px 16px;
}

.board-page__title-container {
    display: flex;
}

.board-page__title {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-text-color);
}

.board-page__main {
    padding: 12px 16px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.board-page__main_edit {
    height: calc(100% - 120px);
}

.board-page__users-container {
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 660px) {
    .board-page__main {
        overflow-y: auto;
        overflow-x: hidden;
    }
}