.task-block {
    background: var(--neutral-background-color);
    border-radius: 8px;
    border: 1px solid var(--light-border-color);
    padding: 8px 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.task-block:hover {
    box-shadow: var(--block-shadow);
}

.task-block__head {

}

.task-block__title {
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.task-block__main {

}
