.task-block {
    background: var(--neutral-background-color);
    border-radius: 8px;
    border: 1px solid var(--light-border-color);
    padding: 8px 6px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: var(--hover-transition);
}

.task-block:not(.task-block_child):hover {
    box-shadow: var(--block-shadow);
}

.task-block__head {
    margin-bottom: 10px;
    display: flex;
}

.task-block__title {
    color: var(--dark-text-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    flex: 1;
}

.task-block__action {
    margin-left: 10px;
}

.task-block__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column__main > a:last-child > .task-block {
    margin-bottom: 0;
}

.task-block_child:first-child {
    margin-top: 12px;
}

.task-block_child {
    margin-bottom: 12px;
}

.task-block_child:last-child {
    margin-bottom: 0;
}