.header {
  display: flex;
  width: 100%;
  padding: 10px 12px;
  border-bottom: 1px solid var(--light-border-color);
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
}

.header__left-section {
  display: flex;
}

.header__user-block {
  height: 40px;
  width: 40px;
  margin-left: auto;
}

.header__user-block > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
