.header {
  display: flex;
  width: 100%;
  padding: 10px 12px;
  border-bottom: 1px solid var(--light-border-color);
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
}

.header__left-section {
  display: flex;
}

.header__user-block {
  display: flex;
  align-items: center;
  margin-left: auto;
  overflow: hidden;
}

.header__user-img-container {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.header__user-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: var(--neutral-background-color);
  border-radius: 50%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: var(--hover-transition);
}

.header__user-img-container:hover::before {
  opacity: 0.7;
}

.header__user-button-icon {
  display: none !important;
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.header__user-img-container:hover .header__user-button-icon {
  display: flex !important;
}

.header__user-img-container > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.header__user-name {
  color: var(--light-text-color);
  margin: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
