.side-panel {
    background: var(--neutral-background-color);
    display: flex;
    height: 100%;
    min-width: 300px;
    padding: 16px 12px;
}

.side-panel__block {
    margin: 12px 0;
    width: 100%;
    height: fit-content;
}

.side-panel__block:first-child {
    margin-top: 0;
}

.side-panel__block:last-child {
    margin-bottom: 0;
}

.theme-block {
    display: flex;
    justify-content: space-between;
}

.theme-block__title {
    color: var(--dark-text-color);
    font-size: 14px;
    font-weight: bold;
}

.theme-block__toggle-container {
    display: flex;
}

.theme-block__toggle-title {
    color: var(--dark-text-color);
    font-size: 14px;
    margin-right: 6px;
}

.theme-block__toggle {
    cursor: pointer;
    width: 30px;
    background: #ac7e62;
}