.auth-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-background-color);
}

.auth-page > form {
    padding: 40px 30px;
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    max-width: 310px;
}

.auth-page__title {
    color: var(--light-text-color);
    font-weight: bold;
    margin-bottom: 25px;
}
