.board-users__main-container {
    margin-top: 10px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 2px 0;
}

.board-users__user-block {
    padding: 10px 12px;
    display: flex;
    border: 1px solid var(--light-border-color);
    border-radius: 8px;
    margin-bottom: 10px;
}

.board-users__user-block__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board-users__user-block:last-child {
    margin-bottom: 0;
}

.board-users__user-block__main {
    display: flex;
    align-items: center;
}

.board-users__user-block__name {
    margin: 0 auto 0 8px;
    color: var(--dark-text-color);
}

.board-users__user-block__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.board-users__user-block__roles {
    margin-top: 16px;
}