body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

input:focus::-webkit-textfield-decoration-container {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.item-with-right-margin {
  margin-right: 8px !important;
}
.item-with-bottom-margin {
  margin-bottom: 20px !important;
}
.error-input-margin {
  margin-bottom: 34px !important;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

form {
  width: 100%;
  padding: 2px 0;
}

form > *:last-child .item-with-bottom-margin, form > *.item-with-bottom-margin:last-child {
  margin-bottom: 0 !important;
}

.form-buttons {
  display: flex;
}

.form-buttons > * {
  margin-right: 8px !important;
}

.form-buttons > *:last-child {
  margin-right: 0 !important;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-background-color) var(--light-background-color);
}

*::-webkit-scrollbar {
  height: 12px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: var(--light-background-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-color);
  border-radius: 8px;
}

:root[data-theme='light'] {
  --dark-background-color: #5b828e;
  --light-background-color: #bbcfd7;
  --light-background-color-opacity: rgba(187, 207, 215, 0.6);
  --neutral-background-color: #ffffff;

  --light-text-color: #ffffff;
  --dark-text-color: #444444;

  --light-border-color: #d2c8bc;
  --neutral-border-color: #bbcfd7;
  --dark-border-color: #5b828e;

  --light-icon-color: #ffffff;
  --dark-icon-color: #ac7e62;

  --button-color: #ac7e62;
  --button-color-2: #5b828e;
  --secondary-button-color: #ba9a88;

  --red-color: #c7444a;
  --grey-color: #b2b2b0;
  --blue-color: #0272a2;

  --block-shadow: 0 5px 10px 2px rgba(187, 207, 215, 0.55);
}

:root[data-theme='dark'] {
  --dark-background-color: #1e2a31;
  --light-background-color: rgb(30, 42, 49, 0.5);
  --light-background-color-opacity: #22313a;
  --neutral-background-color: #2b3c46;

  --light-text-color: #ffffff;
  --dark-text-color: #ffffff;

  --light-border-color: #7D9093;
  --neutral-border-color: #CFCFD1;
  --dark-border-color: #396662;

  --light-icon-color: #ac7e62;
  --dark-icon-color: #ffffff;

  --button-color: #6d4f3d;
  --button-color-2: #ffffff;
  --secondary-button-color: #5c4334;
}
