body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

input:focus::-webkit-textfield-decoration-container {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.item-with-right-margin {
  margin-right: 7px;
}
.item-with-bottom-margin {
  margin-bottom: 20px !important;
}

:root[data-theme='light'] {
  --dark-background-color: #5b828e;
  --light-background-color: #bbcfd7;
  --light-background-color-opacity: rgba(187, 207, 215, 0.6);
  --neutral-background-color: #ffffff;

  --light-text-color: #ffffff;
  --dark-text-color: #444444;

  --light-border-color: #d2c8bc;
  --dark-border-color: #bbcfd7;

  --light-icon-color: #ffffff;
  --dark-icon-color: #ac7e62;
  --light-active-icon-color: #ffffff;

  --button-color: #ac7e62;
  --secondary-button-color: #ba9a88;

  --red-color: #c7444a;
  --grey-color: #b2b2b0;
}

:root[data-theme='dark'] {
}
