.right-section {
    flex-basis: 64%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.left-section {
    flex-basis: 36%;
    display: flex;
    flex-direction: column;
}

.section-block-container__head {
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 0 5px;
    align-items: center;
    border-bottom: 1px solid var(--light-border-color);
}

.section-block-container__head:hover {
    background-color: var(--light-background-color);
    border-radius: 8px;
}

.section-block-container__title {
    margin-right: auto;
    color: var(--dark-text-color);
    font-size: 16px;
    font-weight: 400;
}

.section-block {
    margin: 14px 0;
}

@media (max-width: 660px) {
    .right-section {
        flex-basis: auto;
        margin-right: 0;
    }
    .left-section {
        flex-basis: auto;
    }
}